{% extends 'base.html' %}
{% block content %}

    <div class="col-sm-8 col-md-6">
        <h2>Organisation Units</h2>
        <form method="GET" action="{% url 'org_view' %}">
            <div class="input-group">
                <input type="text" name="q" class="form-control" aria-label="Search by name..."
                       placeholder="Search by name...">
            </div>
            <input type="submit" value="search">
        </form>
    </div>
    <div class="padding-left col-md-7">
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            {% for org in org_units %}
                <tr>
                    <td>{{ org.name }}</td>
                    <td>{{ org.code }}</td>
                    <td>{{ org.level }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}