<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Org Units</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--  Material Dashboard CSS    -->
    <link rel="stylesheet" href="{% static 'css/material-dashboard.css' %}">

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
          type='text/css'>
</head>

<body>
<script>
        function searchFunc() {
          // Declare variables
          var input, filter, table, tr, td, i;
          input = document.getElementById("searchinput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
</script>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag

        -->

        <div class="logo">
            <a href="#" class="simple-text">
                Organization Units
            </a>
        </div>


        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="{% url 'org_view' %}">
                        <i class="material-icons">dashboard</i>
                        <p>Organization Units</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'datael' %}">
                        <i class="material-icons">format_list_numbered</i>
                        <p>Data Elements</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'org_map' %}">
                        <i class="material-icons">location_on</i>
                        <p>Map Analytics</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'analytics' %}">
                        <i class="material-icons">show_chart</i>
                        <p>Charts</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="#">
                        <i class="material-icons">unarchive</i>
                        <p></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DHIS 2</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>

                    </ul>

                    <form class="navbar-form navbar-right" method="get" action="{% url 'org_view' %}">
                        <div class="form-group  is-empty">
                            <input type="text" name="q" class="form-control"  placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Organization Units</h4>
                                <p class="category">DHIS2 Organisation Units</p>
                            </div>
                            <div class="card-content table-responsive">

                                <table class="table" id="myTable">

                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Level</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for org in org_units %}
                                        <tr>
                                            <td>{{ org.name }}</td>
                                            <td>{{ org.code }}</td>
                                            <td>{{ org.level }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

</body>

<!--   Core JS Files   -->
<script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>


<!--  Charts Plugin -->
{#<script src="{% static 'js/chartist.min.js' %}" type="text/javascript"></script>#}

<!--  Notifications Plugin    -->
{#<script src="{% static 'js/bootstrap-notify.js' %}" type="text/javascript"></script>#}

<!--  Google Maps Plugin    -->
{#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>#}

<!-- Material Dashboard javascript methods -->
<script src="{% static 'js/material-dashboard.js' %}" type="text/javascript"></script>

<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'js/demo.js' %}" type="text/javascript"></script>

<script src="{% static 'js/leaflet.js' %}" type="text/javascript"></script>

</html>
